body {
  background-color: #F4FEFF;
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Merriweather", serif;
}
.landing {

}
h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 125%;
  color: #76B3BB;

}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 125%;
  color: #76B3BB;
}
.about {

}
.skills {

}
.main {

}
.navigation {

}
