body {
  background-color: #F4FEFF;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
p {
  font-family: "Merriweather", serif;
}
#top {
  grid-area: top;
}
#left {
  grid-area: left;
}
#right {
  text-align: right;
  grid-area: right;
}
.landing {
  justify-content: center;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: 70% 15% 15%;
  grid-template-areas:
    'top top top'
    'left left .'
    '. right right'
  ;
}
.home {

}
h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 125%;
  color: #76B3BB;

}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  margin: 0;
  color: #76B3BB;
}
.about {

}
.skills {

}
.main {

}
.navigation {

}
