body {
  background-color: #F4FEFF;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.5em;
  color: #56909e;
}
h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 6em;
  line-height: 125%;
  color: #56909e;

}
h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 4em;
  line-height: 125%;
  color: #56909e;
}
h3 {
  line-height: 100%
  font-weight: normal;
  font-size: 2.25em;
  margin: 0;
  color: #56909e;
}
#top {
  grid-area: top;
  padding: 2.5vh;
}
#left {
  grid-area: left;
  padding: 2.5vh;
}
#right {
  text-align: right;
  grid-area: right;
  padding: 2.5vh;
}
.landing {
  justify-content: center;
  text-align: left;
  display: grid;
  height: 85vh;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: 10% 60% 10% 10% 10%;
  grid-template-areas:
    '. . .'
    'top top top'
    'left left .'
    '. right right'
    '. . .'
  ;
}
.home {

}
.content {
  position: relative;
}
.rectangle {
  background-color: #56909e;
}
#about-rect {
  position: absolute;
  left: -5vh;
  height: 65px;
  width: 10px;
}
#about {
  padding: 5vh;
}
#about > img {
  float: right;
  margin: 2.5vh;
  max-height: 75vh;
}
.content > h2, p {
  margin: 2rem;
  text-align: left;
}
.clearfix {
  overflow: auto;
}
.skills {

}
.main {

}
#navigation {
  height: 15vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #56909e;
  padding: 2.5vh 5vh;
  display: block;
  line-height: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  z-index: 9999;
}
#nav-elements {
  float: right;
  display: block;
  justify-content: space-between;
}
.logo {
  float: left;
  font-style: normal;
  font-weight: 800;
  font-size: 2.25em;
  color: #F4FEFF;
  text-decoration: none;
  letter-spacing: -0.2em;
}
#nav-elements > a {
  text-decoration: none;
  color: #F4FEFF;
  margin: 20px;
}
#nav-elements > a:hover {
  transition-duration: 350ms;
  color: #5d569e;
}
.logo:hover {
  transition-duration: 350ms;
  color: #5d569e;
}
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}
.sticky + #about {
  padding-top: calc(15vh + 2rem);
}
@media screen and (max-width: 860px) {
  #about {
    margin: auto;
  }
  #about > img{
    float: none;
    max-width: 85%;
    height: auto;
  }
  #navigation {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 600px){
  html {
    font-size: 75%;
  }
  #navigation {
    font-size: 1.35em;
  }
}
@media screen and (max-width: 480px){
  html {
    font-size: 75%;
  }
  #navigation {
    font-size: 1em;
  }
}
